---
layout: default
---
<section id="intro" class="section">

  <img src="{{ site.url }}/images/zosia.jpg" alt="It's me">

</section>

<section id="about" class="section conatiner">

</section>

<section id="portfolio" class="section">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</section>

<section id="contact" class="section">
{% include svg-icons.html %}
</section>
