---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "slider";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
@-webkit-viewport { width: device-width; }
    @-moz-viewport { width: device-width; }
    @-ms-viewport { width: device-width; }
    @-o-viewport { width: device-width; }
    @viewport { width: device-width; }

p{ color: black;}
body{ background: $back;}

html {
  font-size: 100%;

}

body {
  font: 16px/18px $Arcon;
  overflow-x: hidden;
  width:100%;
  padding:0;


  @include tablet{
    font: 18/22px;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  height:auto;

  @include tablet{
    max-width: 1100px;
  }
}

.row{
  padding: 0 30px;
}
.row-right{
  padding: 0 0 0 30px;
}

.flex-center{
  display: flex;
  justify-content:center;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.shadow{
  color: $shadow !important;
}

.line{
  width:100%;
  height:5px;
  background: white;
  overflow: hidden;
  margin-left:10px;

  @include tablet { height:10px;}
}
//----------------font stuff
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 1em 0 15px;
  padding: 0;

  @include tablet {
    line-height: 1.4;
  }
}


h3 {
  font-size: 1.5em;
    color: $carmel;

    @include tablet {
      font-size: 3em;
      font-weight: bold;
    }
}


p {
  margin: 15px 0;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// intro
//

#intro{

  img#me-photo{
    max-width:120%;
    height:auto;
    overflow:hidden;
    margin-left:-30%;
    margin-top:-3em;
    @include tablet{
      max-width:80%;
      margin-top:-5.2em;
      margin-left:-18%;

    }
  }

  h1 {
    font-size: 3em;
    margin-left:28%;
    color: $carmel;

      span{
        position:relative;
      }
      #letter-z{  top:0.2em; left: -0.3em;}
      #letter-e{top:0em; left: -0.6em;}
      #letter-s{top:0.5em; left: -0.9em;}
      #letter-c{top:0.3em; left: -1.2em;}

    @include tablet {
      font-size: 9em;
      margin-left:20%;
    }
  }

  h2{
    text-align:left;
    font-size: 1.2em;
    #krakowianka{
      color: $carmel;
      font-weight: bold;
    }
    @include tablet{
      position:relative;
      float:right;
      line-height: 1.4;
      font-size: 2em;
      margin: -9em 0 0 12em;

      @include desktop {
      font-size: 2.4em;
      margin: -13em 0 0 12em;
      }
    }

  }

}//-----------------------end of #intro

//
// ABOUT
//
#about{
  h3{

    .shadow{
      font-size: 2em;
      @include tablet{
        font-size: 3em;
      }
    }
    #name{
      font-size: 1.2em;
      font-weight: normal;
      position:relative;
      top: -1em;
      color: black;
      text-align: right;
      margin-left: 2em;

      @include tablet {
        text-align: left;
        margin-left:4em;

      }

    }
  }
  p{
    display:inline-block;
    width:90%;
    text-align: justify;
    text-align-last: left;
    margin: 0 auto 1em auto;

    @include tablet {
      font-size:1.5em;
      max-width:500px;
      width:100%;
      margin: 0 auto 2em 0;
      line-height: 1.4;
    }
  }
  #about-text{}
  a{
    display:block;
    color: $shadow !important;
    border:solid 2px $shadow;
    padding:10px;
    font-size:1em;
    text-decoration: none;
    transition: padding 1s ease;
    box-sizing:border-box;

    :hover{
      padding:20px;
    }

    @include tablet {
      font-size:1.2em;
      font-size:1.3em;
    }
  }

  .box-with-line{
      .line{
        background: $carmel;
        position:relative;
        top:-3.3em;

        @include tablet {
          top:0;
          font-size:4em;
          margin-top: 1.3em;
        }
      }
      @include tablet {
        display:flex;
        flex-direction: row;
      }
  }

  ul{
    display:flex;
    flex-direction: column;
    float:right;
    font-size:1.1em;
    line-height: 1.1;
    margin-bottom:2em;
    li{
      align-items:flex-start;
      justify-content: flex-start;
        .year, .head{
          font-weight:bold;
        }
        .year, .expr{
          padding:0 1em;
        }
    }
    @include tablet {
      font-size:1.5em;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}//-----------------------end of #about

//
// PORFOLIO
//
#portfolio{

  h3{
    line-height: 0.9;

    @include tablet {
      font-size:5em;
    }
  }

  .box-with-line{
    .line{
      margin-top: 3em;
      margin-left: -1em;
      @include tablet {
        margin-top: 10em;
        margin-left: -7em;
      }
    }
  }

  .post{
    h4{
      line-height: 0.9;
      color: $shadow;

      @include tablet {
        font-size:3em;
      }
    }
  }

  .box-with-line{
    top:-5em;
  }


}//-----------------------end of #portfolio

//
// CONTACT
//
#contact {


  @include tablet {
      margin:0 4em;
  }

  h3{
    line-height: 0.9;

    @include tablet {
      font-size:5em;
    }

    .shadow{margin-left:1em;}
  }

  ul.soc{
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }

  form{
    margin: 3em 0 1em 0;


    ::placeholder{
      color: $carmel;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $carmel;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $carmel;

    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $carmel;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $carmel;
    }

    input, input:focus, input:active, textarea, textarea:focus, textarea:active{
      background:transparent;
      width:90%;
      padding:1em 0em 0em 0.5em;
      border: none;
      margin-bottom:2em;
      color: $carmel;
      outline: none;
      font-size:1.2em;
      -webkit-box-shadow: 0px 5px 0px 0px rgba(179,143,57,1);
      -moz-box-shadow: 0px 5px 0px 0px rgba(179,143,57,1);
      box-shadow: 0px 5px 0px 0px rgba(179,143,57,1);

      @include tablet {
        width:410px;
      }

    }
  }

}//-----------------------end of #contact


footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
