---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

p{ color: black;}
body{ background: $back;}

html {
  font-size: 100%;
}

body {
  font: 16px/18px $Arcon;

  @include tablet{
    font: 18/22px;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  height:auto;

  @include tablet{
    max-width: 1000px;
  }
}

.row{
  padding: 0 10px;
}

.flex-center{
  display: flex;
  justify-content:center;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.shadow{
  color: $shadow !important;
}
//----------------font stuff
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 1em 0 15px;
  padding: 0;

  @include tablet {
    line-height: 1.4;
  }
}


h3 {
  font-size: 2em;
    color: $carmel;

    @include tablet {
      font-size: 4em;
    }
}


p {
  margin: 15px 0;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}



// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// intro
//

#intro{

  img#me-photo{
    max-width:120%;
    height:auto;
    overflow:hidden;
    margin-left:-30%;
    margin-top:-3em;
    @include tablet{
      max-width:80%;
      margin-top:-5.2em;
      margin-left:-18%;

    }
  }

  h1 {
    font-size: 3em;
    margin-left:28%;
    color: $carmel;

      span{
        position:relative;
      }
      #letter-z{  top:0.2em; left: -0.3em;}
      #letter-e{top:0em; left: -0.6em;}
      #letter-s{top:0.5em; left: -0.9em;}
      #letter-c{top:0.3em; left: -1.2em;}

    @include tablet {
      font-size: 9em;
      margin-left:20%;
    }
  }

  h2{
    text-align:left;
    font-size: 1.2em;
    #krakowianka{
      color: $carmel;
    }
    @include tablet{
      position:relative;
      float:right;
      line-height: 1.4;
    }
  }

}//-----------------------end of #intro

//
// ABOUT
//
#about{
  h3{
    .shadow{
      font-size: 1.2em;
    }
    #name{
      font-size: 0.8em;
      position:relative;
      margin-left:2em;
      top: -1em;

    }
  }
  a{
    color: $shadow !important;
    border:solid 2px $shadow;
    padding:10px;
  }
}//-----------------------end of #about


footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
