@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200);
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Alegreya+Sans|Raleway);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono&subset=latin,latin-ext);
body {
  margin: 0;
  padding: 0;
  font-size: 18px; }

* {
  font-size: 1em;
  /*18px*/
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

a {
  text-decoration: none;
  color: inherit; }

ul li {
  list-style: none; }

.center {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

/************************************/
body {
  font-family: "Raleway", sans-serif;
  color: #363640;
  height: 1500px;
  background-color: white;
  background: url("img/back.png") center no-repeat;
  background-size: auto 1500px; }

* {
  color: #363640;
  font-weight: lighter; }

header {
  width: 100%;
  height: 100px;
  position: relative;
  top: 100px;
  text-align: center;
  font-weight: lighter; }
  header #intro {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #472B5F; }
  header h1 {
    font-size: 3em; }
  header h2 {
    font-size: 1.5em; }
  header .iconm {
    width: 3em;
    height: 3em;
    fill: #A28BB5; }

nav {
  display: block;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto; }

#social {
  display: flex;
  float: right;
  justify-content: flex-start; }
  #social li, #social li a {
    display: block;
    float: left;
    width: 34px;
    height: 34px;
    margin-left: 0.5em; }
  #social .icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    fill: grey; }
    #social .icon :hover {
      fill: black; }

.container {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: column;
  margin: 15em auto 0 auto;
  position: static; }

#parphs {
  width: 70%;
  margin: 50px auto; }

.pback {
  font-size: 3em;
  font-weight: lighter;
  margin-bottom: 5em;
  background-color: rgba(76, 40, 107, 0.25); }

.whitebox {
  width: 50%;
  height: 300px;
  padding: 2em;
  background: white;
  font-weight: bold;
  font-family: "Cutive Mono"; }

footer {
  margin-top: 1em; }
  footer p {
    text-align: center;
    font-weight: 100;
    font-size: 0.6em; }

#zr {
  max-height: 40px;
  width: auto;
  position: fixed; }

#workspace {
  width: 500px;
  height: 300px;
  margin: 0 auto; }

.polaroid {
  padding: 10px 10px 50px 10px;
  width: 4em;
  height: 4em;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 0.3); }

/*# sourceMappingURL=style.css.map */
