
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$OpenSans: 'Open Sans', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200);
$Raleway: 'Raleway', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Open+Sans|Alegreya+Sans|Raleway);
$Alegreya: 'Alegreya Sans', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext);
$Libre: 'Libre Baskerville', serif;

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext);
$Lato: 'Lato', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&subset=latin,latin-ext);
$Handwritten: 'Just Me Again Down Here', cursive;

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono&subset=latin,latin-ext);
$CutiveMono: 'Cutive Mono';
