@import 'modules/fonts';
@import 'modules/colors';
@import 'modules/default';


$backheight: 1500px;
//$mainfont: $Raleway;

/************************************/



body{
	font-family: $OpenSans;
	color:$textcolor;
	//height:$backheight;
	background-color: $back_main;
//	background: url("img/back.png") center no-repeat;
//	background-size: auto $backheight ;

}

*{
	color:$textcolor;
	font-weight: lighter;
}

h1, h2{
	color:$theme_color;
	font-size:$Raleway;
}
h2{
	font-size:3em;
}
h1{
	font-size:2.5em;
}

nav{
	margin:1em 2em 0 2em;

	#zr{
		max-width:80px;
		height:auto;
	}
}
.container{
	max-width:70%;
	margin:0 auto;
}

.box{
	box-sizing:border-box;
	width:100%;

}



#intro{
			height:100vh;
			background:transparent url('img/photo1.JPG') 0px 100px  no-repeat;
			background-size:800px auto;


			:nth-child(n){
				display: inline-block;
				margin-left:10em;
			}

			#arrow{
				font-size:3em;
			}

			p{
				display:block;
				width:20em;
				font-size:1.2em;


			}
			p::before{
					content:'\27F6';
					position:absolute;
					margin:-17px 0 0 -55px;
					font-size:2em;
				}

}

#about{

}

#space{
	background:$theme_color;
	color:$back_main;
}

#internship, #end{
	:nth-child(n){
		text-align:center;
		margin:0 auto;
	}
}


#end{

	background:transparent url('img/photo2.JPG') left top no-repeat;

}
