<ul class="soc">

{% if site.footer-links.facebook %}
<a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
  <i class="soc-facebook"></i></a>{% endif %}
{% if site.footer-links.instagram %}
<a href="https://instagram.com/{{ site.footer-links.instagram }}">
  <i class="soc-instagram"></i></a>{% endif %}
{% if site.footer-links.linkedin %}
<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
  <i class="soc-linkedin"></i></a>{% endif %}
  {% if site.footer-links.behance %}
  <a href="https://behance.net/{{ site.footer-links.behance }}">
    <i class="soc-behance"></i></a>{% endif %}
{% if site.footer-links.github %}
  <a href="https://github.com/{{ site.footer-links.github }}">
    <i class="soc-github soc-icon-last"></i></a>{% endif %}

</ul>
