@import url('https://fonts.googleapis.com/css?family=Unna');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {  
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

#quote {
  font-size: 90px;
  font-weight: 800;
  text-align: left;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}