/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
#slider {
  width:100%;
  height:300px;

  @include tablet {
    height:80vh;
  }

  li{
    width:100%;
    height:100%;

    a{ display: block;}
    img{
      max-height: 100%;
      width: auto;
    }
  }

}
