
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$carmel: #b38f39;
$back: #d6d6d6;
$shadow: #f4f4f4;



// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

@font-face {
  font-family: 'Arcon-Regular';
  src: url('../fonts/Arcon-Regular.otf');
}

$Arcon: 'Arcon-Regular';

// Mobile breakpoints
@mixin tablet {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1000px) {
    @content;
  }
}
